/*
Author:      Robert Argume
Student ID:  300949529
File:        custom.css
Description: Style customization for the site
             Assignment 1 - MAPD112 Web Technologies for Mobile Platforms
Version: 0.3 
*/

body {
	padding-top: 50px;   
	color: #959595;
}
	
h1, h2, h3, h4, h5, h6 {
	color: #dd845a;
}

/* Customize section titles and the store name */
.store-name {
	margin: 0;
	color: #B46428; 
}
.store-name, .section-title  {
	text-shadow: 1px 1px 1px black;
}
.section-title {
	color: green;
}

/* Customizing Logo */
.logo-small {
	width: 2.5em;
}

/* Customization for the feature banner */
.feature {
	background: url('../images/feature_banner.jpg');
	background-position: top right;
	background-size: cover;
	background-color: #dd845a;
	color: white;
	text-shadow: 1px 1px 8px black;
}
.feature h1 {
	color: white;
	font-family: sans-serif;
	font-weight: 600;
	font-size: 3.8em;
    line-height: 1.1;
}
.feature .btn {
	text-shadow: none;
}
		
.footer-info {
    padding: 1em 0;
    background: #f7f7f7;
}

.footer-info h3 {
	color: black;
	font-size: 1em;
}
    
footer .small-print {
	background-color: #fff;
	padding: 2em 0;
	text-align: center;
}

footer .small-print p a{
	color: orange;
}

b {
	font-size: 1.2em;
}


.quantity {
	width: 10em;
}
/*
*************************** 
Override Bootstrap Classes 
***************************
*/

/* Links */
a {
  /* color: orange; */
  text-decoration: none;
}
a:hover,
a:focus {
  /* color: darkorange; */
  text-decoration: underline;
}

/* Active menu item, or when a non-drop-down menu is clicked */
ul.navbar-nav  li.active a, .navbar-nav .nav-item > a:active{
	background-color: #e7e7e7;
}

.navbar-toggler, .navbar-toggler-icon {
	background-color: #B46428;
}

/* Change color of icon for drop down items when hover */
a:hover .fa-chevron-right {
	color: orange;
}

/* Navbar */
.navbar {
	padding-top: 0;
	padding-bottom: 0;
}

.navbar-default {
  background-color: #fff;
}
.navbar-default .navbar-brand {
  color: #B46428;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: sienna;
  background-color: transparent;
}

/* Primary Buttons */
.btn-primary {
  color: #fff;
  background-color: orange;
  border-color: orange;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}
.btn-primary:hover {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #fff;
  background-color: darkorange;
  border-color: darkorange;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: sandybrown;
  border-color: sandybrown;
}

/* Secondary Buttons */
.btn-secondary {
	color: white;
	background-color: #C26E2B;
	border-color: #C26E2B;
}
.btn-secondary:focus,
.btn-secondary.focus {
  color: #fff;
  background-color: #B46428;
  border-color: #B46428;;
}
.btn-secondary:hover {
  color: #fff;
  background-color: #B46428;;
  border-color: #B46428;;
}
.btn-secondary:active,
.btn-secondary.active,
.open > .dropdown-toggle.btn-secondary {
  color: #fff;
  background-color: #B46428;;
  border-color: #B46428;;
}

/*
*************************** 
Media Queries
***************************
*/

/* FLUID TYPOGRAPHY */
/* [minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]); */

/* Minimum sizes for the smallest screen.
   It is in fixed units but from that point we appy fluid increase of size */
body {
	font-size:12px;
}
.fluid-type-h1 {
	font-size: 25px;
}
.fluid-type-h2 {
	font-size: 22px;
}
.fluid-type-h3 {
	font-size: 18px;
}
.fluid-type-h4 {
	font-size: 16px;
}
a.btn-primary, button.btn-primary, a.btn-secondary, button.btn-secondary, input.form-control {
	font-size: 13px;
}
p.lead {
	font-size: 15px;
}
.small-print {
	font-size: 10px;
}


/* For Mobile */
@media (min-width: 320px) and (max-width: 799px) {  
	body, a.btn-primary, button.btn-primary, a.btn-secondary, button.btn-secondary, input.form-control, .dropdown-item {
		font-size: calc(12px + 2 * ((100vw - 320px) / 479)); 
	}
	p.lead {
		font-size: calc(15px + 2 * ((100vw - 320px) / 479)); 
	}
	div.media img.logo-small {
		display: none;
		width: 0;
		margin: 0;
	}
	.fluid-type-h1{
		font-size: calc(25px + 10 * ((100vw - 320px) / 479));
	}
	.fluid-type-h2{
		font-size: calc(22px + 8 * ((100vw - 320px) / 479));
	}
	.fluid-type-h3{
		font-size: calc(18px + 6 * ((100vw - 320px) / 479));
	}
	.fluid-type-h4{
		font-size: calc(16px + 4 * ((100vw - 320px) / 479));
	}
	.small-print {
		font-size: calc(10px + 1 * ((100vw - 320px) / 479));
	}
}
/* For Tablets */
@media (min-width: 800px) and (max-width: 1199px) {  
	body, a.btn-primary, button.btn-primary, a.btn-secondary, button.btn-secondary, input.form-control, .dropdown-item {
		font-size: calc(14px + 1 * ((100vw - 800px) / 399)); 
	}
	p.lead {
		font-size: calc(17px + 2* ((100vw - 800px) / 399)); 
	}
	.fluid-type-h1{
		font-size: calc(35px + 10 * ((100vw - 800px) / 399)); 
	}
	.fluid-type-h2{
		font-size: calc(30px + 8 * ((100vw - 800px) / 399)); 
	}
	.fluid-type-h3{
		font-size: calc(24px + 6 * ((100vw - 800px) / 399)); 
	}
	.fluid-type-h4{
		font-size: calc(20px + 4 * ((100vw - 800px) / 399)); 
	}
	.small-print {
		font-size: calc(11px + 1 * ((100vw - 800px) / 399));
	}
}
/* For Desktop */
@media (min-width: 1200px) {  
	body, a.btn-primary, button.btn-primary, a.btn-secondary, button.btn-secondary, input.form-control, .dropdown-item {
		font-size: 15px;
	}
	p.lead{
		font-size: 20px;
	}
	.fluid-type-h1{
		font-size: calc(45px + 10 * ((100vw - 1200px) / 760)); 
	}
	.fluid-type-h2{
		font-size: calc(38px + 6 * ((100vw - 1200px) / 760)); 
	}
	.fluid-type-h3{
		font-size: calc(30px + 4 * ((100vw - 1200px) / 760)); 
	}
	.fluid-type-h4{
		font-size: calc(24px + 3 * ((100vw - 1200px) / 760)); 
	}
	.small-print {
		font-size: calc(12px + 1 * ((100vw - 320px) / 479));
	}
	
}

